<div class='container-fluid text-center home-callout'>
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ad, eum, id assumenda aut maxime consectetur. Beatae ipsa aut, facere suscipit dignissimos corporis, ipsam tempora quis ipsum neque consequuntur, in?
    </p>
</div>